<% var block = options.block %>
<%- block._editable %>

<div class="block_news_listing">
    <div class="container">
        <!-- Intro Text -->
        <p class="block_news_listing__intro"><%- plugins.richText(block.description) %></p>

        <!-- CARDS WRAPPER -->
        <div class="block_news_listing__cards">
            <% var stories = plugins.stories({component: 'Page', limit: 3, paginate: true, 'order_by': 'data.date', 'sort': 'desc'}, news => { %>
                <!-- Single Card -->
                <a class="link_alternative__parent block_news_listing__card" href="<%- news.url %>">
                    <!-- Card Image -->
                    <div class="cover_image block_news_listing__image">
                        <img src="<%- plugins.imgix((news.data.featured_image || site.settings.news_fallback_image), { q: 60, w: 800, fm: 'jpg' }) %>" alt="<%- news.title %>">
                    </div>
                    <!-- Card Text -->
                    <% if(news.data.date) { %>
                        <span class="block_news_listing__date"><%- plugins.formatDate(news.data.date, 'DD MMMM YYYY') %></span>
                    <% } %>
                    <h2 class="heading--h4 block_news_listing__heading"><%- news.title %></h2>
                    <p class="block_news_listing__description"><%- news.data.excerpt %></p>
                    <span class="link_alternative block_news_listing__link">Find Out More</span>
                </a>
            <% }) %>
        </div>
    
        <!-- Pagination -->
        <% if(stories && stories.hasOwnProperty('pagination') && stories.pagination.pages.length > 1) { %>
            <%- plugins.include('snippets/pagination.html', { pagination: stories.pagination }) %>
        <% } %>
    </div>
</div>