<header class="core_header">
	<!-- LOGO AND NAVIGATION -->
	<div class="container core_header__container">
		<!-- Logo -->
		<a href="/" class="core_header__logo" data-no-instantclick>
			<img src="/assets/images/design/logo.png" class="core_header__logo_image" alt="<%= site.config.name %> Logo" />
		</a>

		<!-- Main Nav -->
		<%- plugins.include('snippets/header/nav.html') %>
		
		<!-- Burger Menu -->
		<span class="burger" data-flash-responsive-menu-trigger="main_menu">
			<span class="burger__line"></span><span class="burger__line"></span><span class="burger__line"></span>
		</span>
	</div>

	<!-- BANNER -->
	<% 
		// Modules that have a fixed banner heading
		var modules_with_fixed_h1 = {
			'News Module' : 'News',
			'Events Module' : 'Events'
		}

		// Decide if needs to hide the banner
		var banner_image = page.data.banner_image || site.settings.banner_fallback_image;
		var hide_banner = false;
		if(page.url == '/') {
			hide_banner = true;
		}
	%>
	<% if(!hide_banner) { %>
		<div class="banner" style="background-image: url('<%- plugins.imgix(banner_image, { q: 60, w: 1200, fm: 'jpg' }) %>');">
			<div class="container">
				<% if(modules_with_fixed_h1[page.data.component]) { %>
					<h2 class="banner__heading heading--h1">
						<%- modules_with_fixed_h1[page.data.component] %>
					</h2>
				<% } else { %>
					<h1 class="banner__heading">
						<% if(page.data && page.data.banner_heading) { %>
							<%= page.data.banner_heading %>
						<% } else { %>
							<%= page.title %>
						<% } %>
					</h1>
				<% } %>
			</div>
		</div>	
	<% } %>
</header>

<!-- MOBILE MENU -->
	<div class="responsive_menu" data-flash-responsive-menu="main_menu">
		<span class="responsive_menu__close_icon" data-close-responsive-menu></span>
		<div class="responsive_menu__inner_wrapper">
			<div class="responsive_menu__inner">
				<%- plugins.include('snippets/header/nav.html', {class: 'responsive_navigation', cache: true }); %>
			</div>
		</div>
	</div>