<% var block = options.block %>
<%- block._editable %>

<div id="news-listing-live" class="block_news_listing" :class="{ loading: loading }">
    <div class="container">

    	<!-- Categories -->
    	<% const categories = plugins.getCategories('News Module'); %>
    	<select v-model="category" @change="changeCategory">
    		<option value="all">all</option>
    		<% categories.forEach(category => { %>
    			<option value="<%= category %>"><%= category %></option>
    		<% }); %>
    	</select>

    	<!-- Entries -->
        <div class="block_news_listing__cards">
            <a v-for="story in stories" class="link_alternative__parent block_news_listing__card" :href="'/' + story.full_slug">
                <div class="cover_image block_news_listing__image">
                    <img :src="story.content.featured_image" :alt="story.name">
                </div>
                <h2 class="heading--h4 block_news_listing__heading">{{ story.name }}</h2>
                <p class="block_news_listing__description">{{ story.content.excerpt }}</p>
                <span class="link_alternative block_news_listing__link">Find Out More</span>
            </a>
        </div>

        <!-- Pagination -->
        <ul class="pagination_block unstyled" role="navigation" aria-label="Pagination">
        	<li v-for="p in pages" class="pagination_block__item" :class="{ current: p === page }">
        		<span v-if="p === page">{{ p }}</span>
        		<a v-else class="pagination_block__link" href="#" @click.prevent="changePage(p)" :aria-label="'Page ' + p ">{{ p }}</a>
        	</li>
        </ul>

    </div>
</div>
<script>var st = '<%- Buffer.from(site.config.storyblok.api_token).toString('base64') %>';</script>