<% var block = options.block %>
<%- block._editable %>

<div class="block_search_form">
	<div class="container">
		<form class="js_init--flash-form" action="<%- plugins.storylink(block.action_url) %>">
			<input type="search" name="keywords" placeholder="<%= block.placeholder %>" data-search-keywords />
			<button type="submit">Search</button>
		</form>
	</div>
</div>